{% extends 'base.html' %}
{% block homeactive %}active{% endblock %}

{% block content %}
  <h1>Weekly Schedule</h1>
  <p>
    {% for l in w.schedule.entries_by_day %}
    <h2>{{ l.0|date:"D M d" }}</h2>
    <table>
        <tr>
            <th>Walker</th>
            <th>Address</th>
            <th>Arrive</th>
            <th>Depart</th>
            <th>Dog name</th>
        </tr>
        {% for e in l.1 %}
        <tr>
            <td>{{ e.walker }}</td>
            <td>{{ e.node.address }}</td>
            <td>{{ e.start }}</td>
            <td>{{ e.end }}</td>
            <td>{{ e.node.dog }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
  </p>
  <!--<p>
    {% for l in w.schedule.entries_by_walker %}
    <h2>{{ l.0 }}</h2>
    <table>
        <tr>
            <th>Address</th>
            <th>Arrive</th>
            <th>Depart</th>
        </tr>
        {% for e in l.1 %}
        <tr>
            <td>{{ e.node.address }}</td>
            <td>{{ e.start }}</td>
            <td>{{ e.end }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
  </p>-->
  <div>
    <form method="POST">
        <input type="submit" class="btn btn-large" value="Recalculate schedule">
    </form>
    <form method="POST" action="/graph/edge/">
        <input type="submit" class="btn btn-large" value="Refresh distances">
    </form>
  </div>
  {% endblock %}

